body{
	background: #fff0f2;
	font-family: 'Ubuntu', sans-serif;
}
#container{
	padding: 0;
	margin: 0;
}
.title, 
.div-box{
	width: 500px;
	height: 500px;
	margin: 0 auto;
	border-radius: 10px;
	background: #bdab9d;
}
.title{
	height: 100px;
	margin: 15px auto;
}
.title .left{
	float: left;
}
.title .right{
	float: right;
}
.title .game-name{
	color: #333;
	font-size: 63px;
	line-height: 100px;
	margin: auto 20px;
	font-weight: bold;
}
.title .score{
	margin-left: 98px;
	margin-top: 30px;	
	font-size: 24px;
	font-weight: bold;
}
.title .score .current-score{
	color: #fff;
	padding-left: 0.5em;
	font-size: 30px;
}
.title .refresh{
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url('../img/icon.png') no-repeat;
	background-position: -240px -22px;
	margin-top: 15px;
	margin-right: 167px;
	cursor: pointer;
}

.div-box div{
	float: left;
	height: 107px;
	width: 107px;
	line-height: 2;
	background: #ccc0b2;
	margin: 14.4px 0 0 14.4px;
	text-align: center;
	font-size: 50px;
	vertical-align: middle;
	color: #FFF;
	font-weight: bold;
	border-radius: 10px;
}

    div.num2
    {    	
    	background:#eee4da;    	
    }
    div.num4
    {
    	background:#f3ae79;
    }
    div.num8
    {
    	background:#f59563;
    }
    div.num16
    {
    	background:#f8795e;
    }
    div.num32
    {
    	background:#edce71;
    }
    div.num64
    {
    	background:#f65d3b;
    }
    div.num128
    {
    	background:#edce71;
    }
    div.num256
    {
    	background:#edcc61;
    }
    div.num512
    {
    	background:#ecc850;
    }
    div.num1024
    {
    	background:#edc53f;
    }
		div.num2048
		{
			background:#eee4da; 
		}

.page-bg{
	position: fixed;
	margin: 0;
	padding: 0;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 0.6;
	background: #000;
	z-index: 10000;
	overflow: hidden;
	display: none;
}		
.skills{
	display: none;
	position: fixed;
	top: 0;
	background: #FFF;
	height: 120px;
	width: 300px;
	z-index: 10001;
	text-align: center;
	font-size: 30px;
	line-height: 60px;
	top: 50%;
	margin-top: -60px;
	left: 50%;
	margin-left: -150px;
	letter-spacing: 2px;
}
.skills span{
	font-size: 22px;
}
.reward{
	background: rgba(0, 0, 0, 0.6);
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	z-index: 10002;
	display: none;
}
.reward-content{
	width: 400px;
	height: 200px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -100px;
	margin-left: -200px;
	text-align: center;
}
.reward-content img{
	width: 100px;
	height: 100px;
}
.reward-content p{
	color: #fff;
	font-size: 28px;
}
.reward-content p span {
	color: red;
	font-style: italic;
}
.reward-content button{
	color: #fff;
  background:#f3ae79;
	margin-top: 5px;
	height: 30px;
	width: 100px;
	border: 0;
}
